# 參考來源

超簡單台股每日爬蟲教學

https://www.finlab.tw/%E8%B6%85%E7%B0%A1%E5%96%AE%E5%8F%B0%E8%82%A1%E6%AF%8F%E6%97%A5%E7%88%AC%E8%9F%B2%E6%95%99%E5%AD%B8/

In [8]:

import requests
from io import StringIO
import pandas as pd
import numpy as np

datestr = '20180131'
r = requests.post(
    'http://www.twse.com.tw/exchangeReport/MI_INDEX?response=csv&date='
    + datestr + '&type=ALL'
)

df = pd.read_csv(
    StringIO(
        "".join(
            [
                i.translate({ord(c): None for c in ' '}) 
                    for i in r.text.split('\n') 
                    if len(i.split('",')) == 17 and i[0] != '='
            ]
        )
    ), header=0, index_col=[0]
).iloc[:,:-1]

df.head()

,證券名稱,成交股數,成交筆數,成交金額,開盤價,最高價,最低價,收盤價,漲跌(+/-),漲跌價差,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量,本益比
證券代號,,,,,,,,,,,,,,,
1101,台泥,"5,410,009","1,594","203,905,328",37.60,37.90,37.35,37.65,-,0.25,37.65,85,37.70,1,20.57
1102,亞泥,"5,133,744","2,252","153,286,235",29.70,30.30,29.50,30.05,+,0.30,30.05,56,30.15,1,18.78
1103,嘉泥,"231,313",105,"3,113,671",13.45,13.55,13.40,13.55,-,0.05,13.50,6,13.55,5,84.69
1104,環泥,"202,209",146,"4,612,469",22.80,22.90,22.75,22.85,NaN,0.00,22.80,26,22.85,18,9.89
1108,幸福,"109,000",51,"919,930",8.49,8.54,8.40,8.49,NaN,0.00,8.44,5,8.49,4,53.06

# 爬蟲函數

In [9]:

def scrap(datestr):
    '''
    datestr = '20180131'
    '''
    
    r = requests.post(
        'http://www.twse.com.tw/exchangeReport/MI_INDEX?response=csv&date='
        + datestr + '&type=ALL'
    )

    df = pd.read_csv(
        StringIO(
            "".join(
                [
                    i.translate({ord(c): None for c in ' '}) 
                        for i in r.text.split('\n') 
                        if len(i.split('",')) == 17 and i[0] != '='
                ]
            )
        ), header=0, index_col=[0]
    ).iloc[:,:-1]
    
    df = df.loc[:,['證券名稱','成交股數','開盤價','最高價','最低價','收盤價','本益比']]
    
    df['日期'] = pd.to_datetime(datestr,format='%Y/%m/%d')
    
    return df

In [41]:
df = scrap('2018/1/1')
df

          證券名稱       成交股數     開盤價     最高價     最低價     收盤價     本益比         日期
證券代號
1101        台泥  8,457,271   38.00   38.10   37.75   38.00   10.44 2018-01-01
1101B     台泥乙特    205,100   51.40   51.50   51.40   51.50    0.00 2018-01-01
1102        亞泥  5,324,718   38.00   38.10   37.75   38.00   11.62 2018-01-01
1103        嘉泥    381,328   13.80   13.80   13.75   13.80    4.88 2018-01-01
1104        環泥    186,276   19.85   19.90   19.75   19.85   11.34 2018-01-01
1108        幸福    274,271    7.39    7.45    7.32    7.32    0.00 2018-01-01
1109        信大     68,001   13.95   14.00   13.90   13.90    6.56 2018-01-01
1110        東泥     19,167   16.05   16.40   16.05   16.40   65.60 2018-01-01
1201        味全  1,106,004   22.65   22.95   22.60   22.90    7.25 2018-01-01
1203        味王     49,102   26.25   26.30   26.25   26.25   14.50 2018-01-01
1210        大成    562,860   34.70   34.80   34.60   34.70   11.23 2018-01-01
1213        大飲    127,137   11.20   11.45   11.05   11.25    0.00 2018-01-01
1215        卜蜂    420,780   53.00   53.00   52.70   52.80   13.82 2018-01-01
1216        統一  8,862,429   72.30   72.40   71.50   71.70   10.24 2018-01-01
1217       愛之味    459,536    7.20    7.20    7.13    7.16   17.90 2018-01-01
1218        泰山    514,975   18.00   18.10   17.90   18.05   19.84 2018-01-01
1219        福壽      9,428   18.35   18.40   18.35   18.35  107.94 2018-01-01
1220        台榮     23,001   10.95   11.00   10.95   11.00   22.92 2018-01-01
1225       福懋油     18,524   68.10   68.10   67.60   68.00   83.95 2018-01-01
1227        佳格  1,499,825   53.00   53.00   52.00   52.00   16.61 2018-01-01
1229        聯華    841,062   32.20   32.20   31.90   32.10   12.94 2018-01-01
1231       聯華食    358,427   40.95   40.95   39.80   40.80   13.60 2018-01-01
1232       大統益     44,305  100.50  100.50  100.00  100.50   19.25 2018-01-01
1233        天仁     14,000   39.10   39.10   38.80   39.00   19.31 2018-01-01
1234        黑松     72,850   31.30   31.60   31.30   31.45   18.95 2018-01-01
1235        興泰     91,001   28.60   28.60   28.20   28.60   10.63 2018-01-01
1236        宏亞     46,823   14.00   14.30   14.00   14.30  119.17 2018-01-01
1256   鮮活果汁-KY     91,491  172.50  173.50  169.00  169.00   11.78 2018-01-01
1262     綠悅-KY    151,800   37.60   37.60   36.95   37.20    0.00 2018-01-01
1301        台塑  9,190,596  104.50  105.00  103.50  104.00   11.02 2018-01-01
...        ...        ...     ...     ...     ...     ...     ...        ...
9912        偉聯     30,039    9.02    9.17    9.02    9.13   30.43 2018-01-01
9914       美利達    350,732  161.50  161.50  159.00  160.00   41.24 2018-01-01
9917        中保     69,012   86.20   86.40   86.10   86.30   19.79 2018-01-01
9918       欣天然      2,016   33.35   33.35   33.35   33.35   26.47 2018-01-01
9919       康那香    243,034   11.40   11.55   11.35   11.50    0.00 2018-01-01
9921        巨大    309,206  166.50  169.50  165.50  166.00   28.33 2018-01-01
9924        福興     78,022   36.90   36.90   36.75   36.80   11.08 2018-01-01
9925        新保    131,620   37.65   37.65   37.50   37.50   16.45 2018-01-01
9926        新海      3,272   40.15   40.15   40.10   40.10   21.11 2018-01-01
9927        泰銘    183,050   33.40   33.40   32.20   32.80   11.08 2018-01-01
9928        中視      2,292    5.08    5.08    5.00    5.00    0.00 2018-01-01
9929        秋雨    147,006   16.00   16.00   15.90   16.00  160.00 2018-01-01
9930      中聯資源     50,936   54.70   54.70   54.10   54.50   16.87 2018-01-01
9931        欣高      2,139   32.25   32.35   32.25   32.35   15.12 2018-01-01
9933        中鼎    492,165   48.60   48.90   48.30   48.90   19.18 2018-01-01
9934        成霖    102,501   17.00   17.00   16.85   16.95   12.19 2018-01-01
9935       慶豐富    894,971   26.85   27.55   26.60   27.10   19.78 2018-01-01
9937        全國     19,056   40.65   40.80   40.65   40.80   16.32 2018-01-01
9938        百和  4,919,665   66.40   67.90   66.00   66.80   14.98 2018-01-01
9939        宏全    312,361   50.00   50.00   49.80   49.90   12.76 2018-01-01
9940        信義    179,571   31.25   31.60   30.70   31.35   19.12 2018-01-01
9941        裕融    272,279  102.50  103.00  101.50  102.00   11.35 2018-01-01
9941A     裕融甲特     62,038   52.50   52.50   52.40   52.50    0.00 2018-01-01
9942        茂順     77,000   70.80   71.00   70.50   70.80   12.73 2018-01-01
9943       好樂迪    182,228   63.50   64.10   63.50   64.10   10.94 2018-01-01
9944        新麗      3,000   16.25   16.25   16.20   16.20  180.00 2018-01-01
9945       潤泰新  1,048,061   48.30   48.30   47.80   47.80    2.98 2018-01-01
9946      三發地產  1,832,202   14.10   14.25   12.70   13.60    9.71 2018-01-01
9955        佳龍     13,100   12.40   12.40   12.40   12.40    0.00 2018-01-01
9958       世紀鋼  2,436,974   67.10   69.40   66.80   69.40  266.92 2018-01-01

[958 rows x 8 columns]

# to sql

In [10]:
import sqlite3

In [53]:
conn = sqlite3.connect("db.sqlite3")

In [44]:
df.index = df.index.map(lambda s: s.lower())
df.index

Index(['1101', '1101b', '1102', '1103', '1104', '1108', '1109', '1110', '1201',
       '1203',
       ...
       '9940', '9941', '9941a', '9942', '9943', '9944', '9945', '9946', '9955',
       '9958'],
      dtype='object', name='證券代號', length=958)

In [47]:
df1 = pd.DataFrame({'stock': df.index})
if  '1101b' in df1.values:
    print('123')
df1

123

     stock
0     1101
1    1101b
2     1102
3     1103
4     1104
5     1108
6     1109
7     1110
8     1201
9     1203
10    1210
11    1213
12    1215
13    1216
14    1217
15    1218
16    1219
17    1220
18    1225
19    1227
20    1229
21    1231
22    1232
23    1233
24    1234
25    1235
26    1236
27    1256
28    1262
29    1301
..     ...
928   9912
929   9914
930   9917
931   9918
932   9919
933   9921
934   9924
935   9925
936   9926
937   9927
938   9928
939   9929
940   9930
941   9931
942   9933
943   9934
944   9935
945   9937
946   9938
947   9939
948   9940
949   9941
950  9941a
951   9942
952   9943
953   9944
954   9945
955   9946
956   9955
957   9958

[958 rows x 1 columns]

In [48]:
df1.to_sql(
    'stock', 
    con=conn, 
    if_exists='replace',
    index_label='id'
)

In [54]:
df1 = pd.read_sql('SELECT * FROM stock', conn, index_col=['id'])
df1['stock'].values

array(['1101', '1101b', '1102', '1103', '1104', '1108', '1109', '1110',
       '1201', '1203', '1210', '1213', '1215', '1216', '1217', '1218',
       '1219', '1220', '1225', '1227', '1229', '1231', '1232', '1233',
       '1234', '1235', '1236', '1256', '1262', '1301', '1303', '1304',
       '1305', '1307', '1308', '1309', '1310', '1312', '1312a', '1313',
       '1314', '1315', '1316', '1319', '1321', '1323', '1324', '1325',
       '1326', '1337', '1338', '1339', '1340', '1341', '1402', '1409',
       '1410', '1413', '1414', '1416', '1417', '1418', '1419', '1423',
       '1432', '1434', '1435', '1436', '1437', '1438', '1439', '1440',
       '1441', '1442', '1443', '1444', '1445', '1446', '1447', '1449',
       '1451', '1452', '1453', '1454', '1455', '1456', '1457', '1459',
       '1460', '1463', '1464', '1465', '1466', '1467', '1468', '1470',
       '1471', '1472', '1473', '1474', '1475', '1476', '1477', '1503',
       '1504', '1506', '1507', '1512', '1513', '1514', '1515', '1516',
       '1517', '1519', '1521', '1522', '1524', '1525', '1526', '1527',
       '1528', '1529', '1530', '1531', '1532', '1533', '1535', '1536',
       '1537', '1538', '1539', '1540', '1541', '1558', '1560', '1568',
       '1582', '1583', '1587', '1589', '1590', '1592', '1598', '1603',
       '1604', '1605', '1608', '1609', '1611', '1612', '1614', '1615',
       '1616', '1617', '1618', '1626', '1701', '1702', '1707', '1708',
       '1709', '1710', '1711', '1712', '1713', '1714', '1717', '1718',
       '1720', '1721', '1722', '1723', '1724', '1725', '1726', '1727',
       '1730', '1731', '1732', '1733', '1734', '1735', '1736', '1737',
       '1760', '1762', '1773', '1776', '1783', '1786', '1789', '1802',
       '1805', '1806', '1808', '1809', '1810', '1817', '1902', '1903',
       '1904', '1905', '1906', '1907', '1909', '2002', '2002a', '2006',
       '2007', '2008', '2009', '2010', '2012', '2013', '2014', '2015',
       '2017', '2020', '2022', '2023', '2024', '2027', '2028', '2029',
       '2030', '2031', '2032', '2033', '2034', '2038', '2049', '2059',
       '2062', '2069', '2101', '2102', '2103', '2104', '2105', '2106',
       '2107', '2108', '2109', '2114', '2115', '2201', '2204', '2206',
       '2207', '2208', '2227', '2228', '2231', '2236', '2239', '2243',
       '2301', '2302', '2303', '2305', '2308', '2312', '2313', '2314',
       '2316', '2317', '2321', '2323', '2324', '2327', '2328', '2329',
       '2330', '2331', '2332', '2337', '2338', '2340', '2342', '2344',
       '2345', '2347', '2348', '2349', '2351', '2352', '2353', '2354',
       '2355', '2356', '2357', '2358', '2359', '2360', '2362', '2363',
       '2364', '2365', '2367', '2368', '2369', '2371', '2373', '2374',
       '2375', '2376', '2377', '2379', '2380', '2382', '2383', '2385',
       '2387', '2388', '2390', '2392', '2393', '2395', '2397', '2399',
       '2401', '2402', '2404', '2405', '2406', '2408', '2409', '2412',
       '2413', '2414', '2415', '2417', '2419', '2420', '2421', '2423',
       '2424', '2425', '2426', '2427', '2428', '2429', '2430', '2431',
       '2433', '2434', '2436', '2438', '2439', '2440', '2441', '2442',
       '2443', '2444', '2448', '2449', '2450', '2451', '2453', '2454',
       '2455', '2456', '2457', '2458', '2459', '2460', '2461', '2462',
       '2464', '2465', '2466', '2467', '2468', '2471', '2472', '2474',
       '2475', '2476', '2477', '2478', '2480', '2481', '2482', '2483',
       '2484', '2485', '2486', '2488', '2489', '2491', '2492', '2493',
       '2495', '2496', '2497', '2498', '2499', '2501', '2504', '2505',
       '2506', '2509', '2511', '2514', '2515', '2516', '2520', '2524',
       '2527', '2528', '2530', '2534', '2535', '2536', '2537', '2538',
       '2539', '2540', '2542', '2543', '2545', '2546', '2547', '2548',
       '2597', '2601', '2603', '2605', '2606', '2607', '2608', '2609',
       '2610', '2611', '2612', '2613', '2614', '2615', '2616', '2617',
       '2618', '2630', '2633', '2634', '2636', '2637', '2642', '2701',
       '2702', '2704', '2705', '2706', '2707', '2712', '2722', '2723',
       '2727', '2731', '2739', '2748', '2801', '2809', '2812', '2816',
       '2820', '2823', '2832', '2834', '2836', '2838', '2838a', '2841',
       '2845', '2849', '2850', '2851', '2852', '2855', '2867', '2880',
       '2881', '2881a', '2881b', '2882', '2882a', '2882b', '2883', '2884',
       '2885', '2886', '2887', '2887e', '2887f', '2888', '2889', '2890',
       '2891', '2891b', '2892', '2897', '2897a', '2901', '2903', '2904',
       '2905', '2906', '2908', '2910', '2911', '2912', '2913', '2915',
       '2923', '2929', '2936', '2939', '3002', '3003', '3004', '3005',
       '3006', '3008', '3010', '3011', '3013', '3014', '3015', '3016',
       '3017', '3018', '3019', '3021', '3022', '3023', '3024', '3025',
       '3026', '3027', '3028', '3029', '3030', '3031', '3032', '3033',
       '3034', '3035', '3036', '3037', '3038', '3040', '3041', '3042',
       '3043', '3044', '3045', '3046', '3047', '3048', '3049', '3050',
       '3051', '3052', '3054', '3055', '3056', '3057', '3058', '3059',
       '3060', '3062', '3090', '3094', '3130', '3149', '3164', '3167',
       '3189', '3209', '3229', '3231', '3257', '3266', '3296', '3305',
       '3308', '3311', '3312', '3321', '3338', '3346', '3356', '3376',
       '3380', '3383', '3406', '3413', '3416', '3419', '3432', '3437',
       '3443', '3450', '3454', '3481', '3494', '3501', '3504', '3515',
       '3518', '3519', '3528', '3530', '3532', '3533', '3535', '3536',
       '3545', '3550', '3557', '3576', '3579', '3583', '3588', '3591',
       '3593', '3596', '3605', '3607', '3617', '3622', '3645', '3653',
       '3661', '3665', '3669', '3673', '3679', '3682', '3686', '3694',
       '3698', '3701', '3702', '3703', '3704', '3705', '3706', '3708',
       '3711', '3712', '4104', '4106', '4108', '4119', '4133', '4137',
       '4141', '4142', '4144', '4148', '4155', '4164', '4190', '4306',
       '4414', '4426', '4438', '4526', '4532', '4536', '4540', '4545',
       '4551', '4552', '4555', '4557', '4560', '4562', '4564', '4566',
       '4720', '4722', '4725', '4737', '4739', '4746', '4755', '4763',
       '4764', '4766', '4807', '4904', '4906', '4912', '4915', '4916',
       '4919', '4927', '4930', '4934', '4935', '4938', '4942', '4943',
       '4952', '4956', '4958', '4960', '4961', '4967', '4968', '4976',
       '4977', '4989', '4994', '4999', '5007', '5203', '5215', '5225',
       '5234', '5243', '5258', '5259', '5264', '5269', '5284', '5285',
       '5288', '5305', '5388', '5434', '5469', '5471', '5484', '5515',
       '5519', '5521', '5522', '5525', '5531', '5533', '5534', '5538',
       '5607', '5608', '5706', '5871', '5876', '5880', '5906', '5907',
       '6005', '6024', '6108', '6112', '6115', '6116', '6117', '6120',
       '6128', '6133', '6136', '6139', '6141', '6142', '6152', '6153',
       '6155', '6164', '6165', '6166', '6168', '6172', '6176', '6177',
       '6183', '6184', '6189', '6191', '6192', '6196', '6197', '6201',
       '6202', '6205', '6206', '6209', '6213', '6214', '6215', '6216',
       '6224', '6225', '6226', '6230', '6235', '6239', '6243', '6251',
       '6257', '6269', '6271', '6277', '6278', '6281', '6282', '6283',
       '6285', '6288', '6289', '6405', '6409', '6412', '6414', '6415',
       '6416', '6431', '6442', '6443', '6449', '6451', '6452', '6456',
       '6464', '6477', '6504', '6505', '6525', '6531', '6533', '6541',
       '6552', '6558', '6573', '6579', '6581', '6582', '6591', '6605',
       '6625', '6641', '6655', '6666', '6668', '6670', '6671', '6674',
       '8011', '8016', '8021', '8028', '8033', '8039', '8046', '8070',
       '8072', '8081', '8101', '8103', '8104', '8105', '8110', '8112',
       '8114', '8131', '8150', '8163', '8201', '8210', '8213', '8215',
       '8222', '8249', '8261', '8271', '8341', '8367', '8374', '8404',
       '8411', '8422', '8427', '8429', '8442', '8443', '8454', '8463',
       '8464', '8466', '8467', '8473', '8478', '8480', '8481', '8482',
       '8488', '8497', '8499', '8926', '8940', '8996', '9103', '910322',
       '910482', '9105', '910708', '910861', '9110', '911608', '911616',
       '911619', '911622', '911868', '912000', '912398', '9136', '9157',
       '9188', '9802', '9902', '9904', '9905', '9906', '9907', '9908',
       '9910', '9911', '9912', '9914', '9917', '9918', '9919', '9921',
       '9924', '9925', '9926', '9927', '9928', '9929', '9930', '9931',
       '9933', '9934', '9935', '9937', '9938', '9939', '9940', '9941',
       '9941a', '9942', '9943', '9944', '9945', '9946', '9955', '9958'],
      dtype=object)

In [50]:
conn.close()

# concat

In [4]:
df_1 = scrap('2018/1/1')
df_2 = scrap('2017/12/31')
pd.concat([df_1,df_2]).loc['1101',:]

     證券名稱        成交股數    開盤價    最高價    最低價    收盤價    本益比         日期
證券代號
1101   台泥  12,214,164  37.20  37.50  36.95  37.35  10.26 2018-01-01
1101   台泥  12,214,164  37.20  37.50  36.95  37.35  10.26 2017-12-31

# 連續 N 天

In [ ]:
import requests
from io import StringIO
import pandas as pd
import numpy as np

In [ ]:
def scrap(datestr):
    '''
    datestr = '20180131'
    '''
    
    r = requests.post(
        'http://www.twse.com.tw/exchangeReport/MI_INDEX?response=csv&date='
        + datestr + '&type=ALL'
    )

    df = pd.read_csv(
        StringIO(
            "".join(
                [
                    i.translate({ord(c): None for c in ' '}) 
                        for i in r.text.split('\n') 
                        if len(i.split('",')) == 17 and i[0] != '='
                ]
            )
        ), header=0, index_col=[0]
    ).iloc[:,:-1]
    
    df = df.loc[:,['證券名稱','成交股數','開盤價','最高價','最低價','收盤價','本益比']]
    
    df['日期'] = pd.to_datetime(datestr,format='%Y/%m/%d')
    
    return df

In [4]:
from datetime import (
    timedelta, date , datetime
)
import time

In [5]:
start = '2018/1/1'
end = '2018/3/31'

start_day = datetime.strptime(start,'%Y/%m/%d')
end_day = datetime.strptime(end,'%Y/%m/%d')

day = start_day
# to string
#day.strftime('%Y/%m/%d')

interval = timedelta(days=1)

# 時間間距
span = (end_day - start_day).days + 1

day_df_list = []
eorr_day = []
for i in range(span):
    try:
        day_df_list.append(
            scrap(day.strftime('%Y/%m/%d'))
        )
        print(day.strftime('%Y/%m/%d'))
        
    except Exception as e:
        eorr_day.append(day.strftime('%Y/%m/%d'))
        print(f"The day have eorr: {day.strftime('%Y/%m/%d')}" + "---"*10)
    
    finally:
        day += interval 
        time.sleep(15)

2018/01/01
2018/01/02
2018/01/03
2018/01/04
2018/01/05
2018/01/06
2018/01/07
2018/01/08
2018/01/09
2018/01/10
2018/01/11
2018/01/12
2018/01/13
The day have eorr: 2018/01/14------------------------------
2018/01/15
2018/01/16
The day have eorr: 2018/01/17------------------------------
2018/01/18
2018/01/19
2018/01/20
2018/01/21
2018/01/22
2018/01/23
2018/01/24
2018/01/25
2018/01/26
2018/01/27
2018/01/28
2018/01/29
2018/01/30
2018/01/31
2018/02/01
2018/02/02
2018/02/03
2018/02/04
2018/02/05
2018/02/06
2018/02/07
2018/02/08
2018/02/09
2018/02/10
2018/02/11
2018/02/12
The day have eorr: 2018/02/13------------------------------
2018/02/14
2018/02/15
2018/02/16
2018/02/17
2018/02/18
2018/02/19
2018/02/20
2018/02/21
2018/02/22
2018/02/23
2018/02/24
2018/02/25
2018/02/26
2018/02/27
2018/02/28
2018/03/01
2018/03/02
The day have eorr: 2018/03/03------------------------------
The day have eorr: 2018/03/04------------------------------
2018/03/05
2018/03/06
2018/03/07
2018/03/08
2018/03/09
2018/03/10
2018/03/11
2018/03/12
2018/03/13
2018/03/14
2018/03/15
2018/03/16
2018/03/17
2018/03/18
2018/03/19
2018/03/20
2018/03/21
2018/03/22
2018/03/23
2018/03/24
2018/03/25
2018/03/26
2018/03/27
2018/03/28
2018/03/29
2018/03/30
The day have eorr: 2018/03/31------------------------------
2018/04/01
2018/04/02
2018/04/03
2018/04/04
2018/04/05
2018/04/06
2018/04/07
2018/04/08
2018/04/09
2018/04/10
2018/04/11
2018/04/12
2018/04/13
2018/04/14
2018/04/15
2018/04/16
2018/04/17
2018/04/18
2018/04/19
2018/04/20
2018/04/21
2018/04/22
2018/04/23
2018/04/24
2018/04/25
2018/04/26
2018/04/27
2018/04/28
2018/04/29
2018/04/30
2018/05/01
The day have eorr: 2018/05/02------------------------------
2018/05/03
2018/05/04
2018/05/05
2018/05/06
2018/05/07
2018/05/08
2018/05/09
2018/05/10
2018/05/11
2018/05/12
2018/05/13
2018/05/14
2018/05/15
2018/05/16
2018/05/17
2018/05/18
2018/05/19
2018/05/20
2018/05/21
2018/05/22
2018/05/23
2018/05/24
2018/05/25
2018/05/26
2018/05/27
2018/05/28
2018/05/29
2018/05/30
2018/05/31
2018/06/01
2018/06/02
2018/06/03
2018/06/04
2018/06/05
2018/06/06
2018/06/07
2018/06/08
2018/06/09
2018/06/10
2018/06/11
2018/06/12
2018/06/13
2018/06/14
2018/06/15
2018/06/16
2018/06/17
2018/06/18
2018/06/19
2018/06/20
2018/06/21
2018/06/22
2018/06/23
2018/06/24
2018/06/25
2018/06/26
2018/06/27
2018/06/28
2018/06/29
2018/06/30
2018/07/01
2018/07/02
2018/07/03
2018/07/04
2018/07/05
2018/07/06
2018/07/07
2018/07/08
2018/07/09
The day have eorr: 2018/07/10------------------------------
2018/07/11
2018/07/12
2018/07/13
2018/07/14
2018/07/15
2018/07/16
2018/07/17
2018/07/18
2018/07/19
2018/07/20
2018/07/21
2018/07/22
2018/07/23
2018/07/24
2018/07/25
2018/07/26
2018/07/27
2018/07/28
2018/07/29
2018/07/30
2018/07/31
2018/08/01
2018/08/02
2018/08/03
2018/08/04
2018/08/05
2018/08/06
2018/08/07
2018/08/08
2018/08/09
2018/08/10
2018/08/11
2018/08/12
2018/08/13
2018/08/14
2018/08/15
2018/08/16
2018/08/17
2018/08/18
2018/08/19
2018/08/20
2018/08/21
2018/08/22
2018/08/23
2018/08/24
2018/08/25
2018/08/26
2018/08/27
2018/08/28
2018/08/29
The day have eorr: 2018/08/30------------------------------
2018/08/31
2018/09/01
2018/09/02
2018/09/03
2018/09/04
2018/09/05
2018/09/06
2018/09/07
2018/09/08
2018/09/09
2018/09/10
The day have eorr: 2018/09/11------------------------------
2018/09/12
2018/09/13
2018/09/14
2018/09/15
2018/09/16
2018/09/17
2018/09/18
2018/09/19
2018/09/20
2018/09/21
2018/09/22
2018/09/23
2018/09/24
2018/09/25
2018/09/26
2018/09/27
2018/09/28
2018/09/29
2018/09/30
2018/10/01
2018/10/02
2018/10/03
2018/10/04
2018/10/05
2018/10/06
2018/10/07
2018/10/08
2018/10/09
2018/10/10
2018/10/11
2018/10/12
2018/10/13
2018/10/14
2018/10/15
2018/10/16
2018/10/17
2018/10/18
2018/10/19
2018/10/20
2018/10/21
2018/10/22
2018/10/23
2018/10/24
2018/10/25
2018/10/26
2018/10/27
2018/10/28
2018/10/29
2018/10/30
2018/10/31
2018/11/01
2018/11/02
2018/11/03
2018/11/04
2018/11/05
2018/11/06
2018/11/07
2018/11/08
2018/11/09
2018/11/10
2018/11/11
2018/11/12
2018/11/13
2018/11/14
2018/11/15
2018/11/16
2018/11/17
2018/11/18
2018/11/19
2018/11/20
2018/11/21
2018/11/22
2018/11/23
2018/11/24
2018/11/25
2018/11/26
2018/11/27
2018/11/28
2018/11/29
2018/11/30
2018/12/01
2018/12/02
2018/12/03
2018/12/04
2018/12/05
2018/12/06
2018/12/07
2018/12/08
2018/12/09
2018/12/10
2018/12/11
2018/12/12
2018/12/13
2018/12/14
2018/12/15
2018/12/16
2018/12/17
The day have eorr: 2018/12/18------------------------------
2018/12/19
2018/12/20
2018/12/21
2018/12/22
2018/12/23
2018/12/24
2018/12/25
2018/12/26
2018/12/27
2018/12/28
2018/12/29
2018/12/30
2018/12/31

In [8]:
eorr_day

['2018/01/14',
 '2018/01/17',
 '2018/02/13',
 '2018/03/03',
 '2018/03/04',
 '2018/03/31',
 '2018/05/02',
 '2018/07/10',
 '2018/08/30',
 '2018/09/11',
 '2018/12/18']

In [ ]:
df = pd.concat(day_df_list)

In [ ]:
df.to_pickle("Stock.pickle")
#pd.read_pickle("Stock.pickle")

In [ ]:
#pd.read_pickle("Stock.pickle")

# plotly

In [13]:
import plotly 
plotly.tools.set_credentials_file(username='po39086m', api_key='OgykulaFZvYmrIbQ626q')

# Python 財報爬蟲

https://www.finlab.tw/Python-%E8%B2%A1%E5%A0%B1%E7%88%AC%E8%9F%B2-1-%E7%B6%9C%E5%90%88%E6%90%8D%E7%9B%8A%E8%A1%A8/

In [1]:
import requests
import pandas as pd
import numpy as np

def financial_statement(year, season, type='綜合損益彙總表'):

    
    year -= 1911 # 西元轉民國
        
    if type == '綜合損益彙總表':
        url = 'http://mops.twse.com.tw/mops/web/ajax_t163sb04'
    elif type == '資產負債彙總表':
        url = 'http://mops.twse.com.tw/mops/web/ajax_t163sb05'
    elif type == '營益分析彙總表':
        url = 'http://mops.twse.com.tw/mops/web/ajax_t163sb06'
    else:
        print('type does not match')

    r = requests.post(url, {
        'encodeURIComponent':1,
        'step':1,
        'firstin':1,
        'off':1,
        'TYPEK':'sii',
        'year':str(year),
        'season':str(season),
    })
    
    r.encoding = 'utf8'
    dfs = pd.read_html(r.text)
    
    
    for i, df in enumerate(dfs):
        df.columns = df.iloc[0]
        dfs[i] = df.iloc[1:]
        
    df = pd.concat(dfs).applymap(lambda x: x if x != '--' else np.nan)
    df = df[df['公司代號'] != '公司代號']
    df = df[~df['公司代號'].isnull()]
    return df

In [5]:
financial_statement(2017,1,'營益分析彙總表')

D:\anaconda\lib\site-packages\ipykernel\__main__.py:37: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

,公司代號,公司名稱,合計：共 862 家,毛利率(%)(營業毛利)/(營業收入),營業利益率(%)(營業利益)/(營業收入),營業收入(百萬元),稅前純益率(%)(稅前純益)/(營業收入),稅後純益率(%)(稅後純益)/(營業收入)
1,1101,台泥,NaN,14.16,9.17,21179.77,7.91,5.49
2,1102,亞泥,NaN,7.45,3.53,12512.70,0.96,1.17
3,1103,嘉泥,NaN,22.15,4.06,598.48,-14.79,-18.02
4,1104,環球水泥,NaN,12.63,4.33,1100.66,26.02,25.37
5,1108,幸福水泥,NaN,9.03,3.15,894.90,2.57,2.08
6,1109,信大水泥,NaN,14.40,5.60,970.00,5.41,4.58
7,1110,東泥,NaN,-2.87,-8.83,352.67,10.90,6.61
8,1201,味全公司,NaN,26.14,-3.51,3597.80,6.52,5.19
9,1203,味王公司,NaN,30.99,16.68,1544.11,14.96,10.63
10,1210,大成長城,NaN,13.42,4.28,18781.08,4.10,3.36
11,1213,大飲,NaN,13.10,4.26,163.18,3.93,3.25
12,1215,卜蜂企業,NaN,17.97,10.42,4782.34,10.62,8.80
13,1216,統一,NaN,33.36,5.83,96114.61,8.50,7.07
14,1217,愛之味,NaN,29.83,-0.93,933.73,-2.20,-2.45
15,1218,泰山企業,NaN,15.41,-0.91,1790.17,0.08,0.07
17,1219,福壽實業,NaN,8.16,-0.02,2835.81,0.58,0.10
18,1220,台榮,NaN,13.05,3.54,496.34,2.17,1.19
19,1225,福懋油,NaN,9.72,4.61,2631.20,4.60,3.80
20,1227,佳格,NaN,28.83,12.09,6491.92,11.28,9.14
21,1229,聯華實業,NaN,22.71,11.12,1152.03,41.17,39.60
22,1231,聯華食品,NaN,20.44,5.32,1762.90,5.07,4.04
23,1232,大統益,NaN,9.06,5.44,4388.70,4.75,3.94
24,1233,天仁,NaN,57.83,11.22,546.59,10.00,8.29
25,1234,黑松,NaN,20.24,-1.99,2209.64,4.96,4.01
26,1235,興泰,NaN,-58.06,-110.38,10.61,384.81,363.19
27,1236,宏亞食品,NaN,21.74,-0.52,447.77,-0.20,-1.61
28,1256,鮮活果汁-KY,NaN,29.24,12.84,621.42,12.63,6.93
29,1262,綠悅-KY,NaN,35.58,30.33,2152.91,30.64,22.83
30,1301,台塑,NaN,16.86,11.48,47796.00,22.51,20.69
31,1303,南亞塑膠,NaN,17.94,11.66,72676.15,17.21,14.54
...,...,...,...,...,...,...,...,...
888,9911,台灣櫻花,NaN,35.47,13.55,1388.94,13.59,11.42
889,9912,偉聯,NaN,29.71,-0.04,160.86,0.74,0.54
890,9914,美利達,NaN,15.37,5.77,4793.89,8.43,6.40
891,9917,中保,NaN,36.96,15.27,3228.71,25.65,22.68
892,9918,欣天然,NaN,25.63,15.53,573.54,17.23,14.58
893,9919,康那香,NaN,16.53,3.09,957.88,0.41,0.18
894,9921,巨大機械,NaN,18.74,5.49,13509.14,5.26,3.84
895,9924,台灣福興,NaN,21.08,10.92,1879.08,7.34,5.18
897,9925,新光保全,NaN,33.50,11.36,1772.43,12.00,9.75
898,9926,新海瓦斯,NaN,22.65,15.98,582.95,16.16,13.21
899,9927,泰銘,NaN,13.85,11.90,2740.22,11.25,9.23
900,9928,中視,NaN,-41.64,-68.47,172.68,-5.67,-11.04
901,9929,秋雨,NaN,12.47,2.47,175.57,-5.29,-5.29
902,9930,中聯資源,NaN,18.46,12.64,1652.47,12.60,10.52
903,9931,欣高,NaN,14.35,7.68,300.06,19.00,14.77
904,9933,中鼎工程,NaN,8.48,5.45,15178.77,4.76,3.74
905,9934,成霖企業,NaN,29.29,6.17,4449.39,5.05,3.19
906,9935,慶豐富,NaN,18.88,4.80,853.19,1.17,0.81
907,9937,全國,NaN,10.04,2.78,4728.37,3.31,2.75
908,9938,台灣百和,NaN,40.74,23.55,2799.18,22.36,16.40
909,9939,宏全,NaN,19.08,9.42,4278.71,12.76,10.03
910,9940,信義房屋,NaN,21.69,5.66,1745.24,6.07,4.09
911,9941,裕融企業,NaN,44.41,16.17,4608.10,16.35,12.73
913,9942,茂順,NaN,35.72,20.11,719.35,16.89,13.01
914,9943,好樂迪,NaN,59.71,20.73,771.59,25.90,22.81
915,9944,新麗企業,NaN,24.93,5.54,819.59,1.79,1.73
916,9945,潤泰創新,NaN,22.44,8.14,2440.16,24.16,21.25
917,9946,三發地產,NaN,34.70,22.73,431.41,22.98,21.06
918,9955,佳龍,NaN,0.47,-3.30,624.64,-4.32,-4.22
919,9958,世紀鋼構,NaN,9.95,5.32,502.54,2.81,2.26

In [6]:
financial_statement(2017,1,'資產負債彙總表')

D:\anaconda\lib\site-packages\ipykernel\__main__.py:37: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

,上市公司第一季資料,不動產及設備,不動產及設備－淨額,以成本衡量之金融負債,保留盈餘,保留盈餘（或累積虧損）,保險負債,備供出售金融資產－淨額,公司代號,公司名稱,...,避險之衍生金融負債－淨額,避險之衍生金融資產,避險之衍生金融資產淨額,附買回票券及債券負債,附賣回票券及債券投資,附賣回票券及債券投資淨額,非控制權益,非流動負債,非流動資產,預收股款（權益項下）之約當發行股數（單位：股）
1,NaN,NaN,20736980,NaN,50642443,NaN,NaN,76981030,2801,彰化銀行,...,NaN,NaN,176553,3237819,NaN,NaN,NaN,NaN,NaN,0
2,NaN,NaN,2409568,NaN,20833206,NaN,NaN,64954769,2809,京城銀行,...,NaN,NaN,NaN,17572973,NaN,3288187,0,NaN,NaN,0
3,NaN,NaN,9430920,NaN,9180530,NaN,NaN,35862346,2812,台中銀行,...,0,NaN,0,3682635,NaN,7281602,0,NaN,NaN,0
4,NaN,NaN,157993,NaN,9084346,NaN,NaN,94957991,2820,華票,...,NaN,NaN,NaN,158092275,NaN,1100240,NaN,NaN,NaN,0
5,NaN,NaN,14135086,NaN,13696371,NaN,NaN,68277427,2834,臺灣企銀,...,NaN,NaN,NaN,1843187,NaN,15617825,0,NaN,NaN,0
6,NaN,NaN,2905299,NaN,2591427,NaN,NaN,30491625,2836,高銀,...,NaN,NaN,NaN,1149802,NaN,4500821,0,NaN,NaN,0
7,NaN,NaN,8111397,NaN,9334973,NaN,NaN,36476768,2838,聯邦銀行,...,NaN,NaN,NaN,40496709,NaN,31961217,278748,NaN,NaN,0
8,NaN,NaN,2914163,NaN,10341013,NaN,NaN,93778386,2845,遠東商銀,...,NaN,NaN,NaN,12918266,NaN,29910628,NaN,NaN,NaN,0
9,NaN,NaN,780099,NaN,12756821,NaN,NaN,30191663,2849,安泰銀行,...,NaN,NaN,NaN,3050000,NaN,1549557,NaN,NaN,NaN,0
10,NaN,NaN,3911374,NaN,5655294,NaN,NaN,132126879,2897,王道銀行,...,NaN,NaN,NaN,160874496,NaN,1298392,16771698,NaN,NaN,0
1,NaN,NaN,NaN,NaN,NaN,10154069,NaN,NaN,2855,統一證券,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83135,4812881,0
2,NaN,NaN,NaN,NaN,NaN,5276806,NaN,NaN,6005,群益證,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1803708,13709899,0
3,NaN,NaN,NaN,NaN,NaN,1591324,NaN,NaN,6024,群益期,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11079,565800,0
1,NaN,NaN,NaN,NaN,48169768,NaN,NaN,NaN,1101,台泥,...,NaN,NaN,NaN,NaN,NaN,NaN,39786724,56209721,182905418,0
2,NaN,NaN,NaN,NaN,91831621,NaN,NaN,NaN,1102,亞泥,...,NaN,NaN,NaN,NaN,NaN,NaN,17153073,54818688,198481250,0
3,NaN,NaN,NaN,NaN,8224103,NaN,NaN,NaN,1103,嘉泥,...,NaN,NaN,NaN,NaN,NaN,NaN,1747818,7487697,17456338,0
4,NaN,NaN,NaN,NaN,9933913,NaN,NaN,NaN,1104,環球水泥,...,NaN,NaN,NaN,NaN,NaN,NaN,126898,1349611,16609903,0
5,NaN,NaN,NaN,NaN,715673,NaN,NaN,NaN,1108,幸福水泥,...,NaN,NaN,NaN,NaN,NaN,NaN,30016,565313,2315224,0
6,NaN,NaN,NaN,NaN,1601275,NaN,NaN,NaN,1109,信大水泥,...,NaN,NaN,NaN,NaN,NaN,NaN,898405,937209,5698234,0
7,NaN,NaN,NaN,NaN,2032478,NaN,NaN,NaN,1110,東泥,...,NaN,NaN,NaN,NaN,NaN,NaN,131333,314845,7368546,0
8,NaN,NaN,NaN,NaN,-316269,NaN,NaN,NaN,1201,味全公司,...,NaN,NaN,NaN,NaN,NaN,NaN,2546106,7541172,13824032,0
9,NaN,NaN,NaN,NaN,1904894,NaN,NaN,NaN,1203,味王公司,...,NaN,NaN,NaN,NaN,NaN,NaN,956089,1588555,4763423,0
10,NaN,NaN,NaN,NaN,4888564,NaN,NaN,NaN,1210,大成長城,...,NaN,NaN,NaN,NaN,NaN,NaN,5321553,1706911,17803871,0
11,NaN,NaN,NaN,NaN,111374,NaN,NaN,NaN,1213,大飲,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31801,448801,0
12,NaN,NaN,NaN,NaN,2633857,NaN,NaN,NaN,1215,卜蜂企業,...,NaN,NaN,NaN,NaN,NaN,NaN,256191,994399,6592140,0
13,NaN,NaN,NaN,NaN,39977343,NaN,NaN,NaN,1216,統一,...,NaN,NaN,NaN,NaN,NaN,NaN,58962565,71354961,232301580,0
14,NaN,NaN,NaN,NaN,290166,NaN,NaN,NaN,1217,愛之味,...,NaN,NaN,NaN,NaN,NaN,NaN,692065,2741198,9532264,0
15,NaN,NaN,NaN,NaN,150756,NaN,NaN,NaN,1218,泰山企業,...,NaN,NaN,NaN,NaN,NaN,NaN,5547,1854549,4742760,0
16,NaN,NaN,NaN,NaN,671309,NaN,NaN,NaN,1219,福壽實業,...,NaN,NaN,NaN,NaN,NaN,NaN,-12395,2103450,4130628,0
17,NaN,NaN,NaN,NaN,534786,NaN,NaN,NaN,1220,台榮,...,NaN,NaN,NaN,NaN,NaN,NaN,165190,206897,1070635,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
851,NaN,NaN,NaN,NaN,1535326,NaN,NaN,NaN,9944,新麗企業,...,NaN,NaN,NaN,NaN,NaN,NaN,84282,269819,2618782,0
852,NaN,NaN,NaN,NaN,24397373,NaN,NaN,NaN,9945,潤泰創新,...,NaN,NaN,NaN,NaN,NaN,NaN,3937706,19143941,49384334,0
853,NaN,NaN,NaN,NaN,1711702,NaN,NaN,NaN,9946,三發地產,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1693193,543156,0
854,NaN,NaN,NaN,NaN,-90233,NaN,NaN,NaN,9955,佳龍,...,NaN,NaN,NaN,NaN,NaN,NaN,251,722897,2163192,0
855,NaN,NaN,NaN,NaN,468195,NaN,NaN,NaN,9958,世紀鋼構,...,NaN,NaN,NaN,NaN,NaN,NaN,214632,2346119,2689849,0
1,NaN,NaN,32377695,NaN,38760324,NaN,NaN,127877236,2880,華南金,...,NaN,970,NaN,37743203,343475,NaN,1550,NaN,NaN,0
2,NaN,NaN,56837348,NaN,248424517,NaN,NaN,1615506187,2881,富邦金,...,NaN,1861538,NaN,129594583,80333417,NaN,342420,NaN,NaN,0
3,NaN,NaN,165484947,NaN,263312832,NaN,NaN,1585571797,2882,國泰金,...,NaN,280751,NaN,63502517,61953035,NaN,6263657,NaN,NaN,0
4,NaN,NaN,14433547,NaN,18600801,NaN,NaN,147934772,2883,開發金,...,NaN,NaN,NaN,128582698,50467734,NaN,3646779,NaN,NaN,0
5,NaN,NaN,26864158,NaN,23535417,NaN,NaN,148630790,2884,玉山金控,...,NaN,NaN,NaN,14379536,0,NaN,632526,NaN,NaN,0
6,NaN,NaN,20543387,NaN,43463984,NaN,NaN,350782881,2885,元大金,...,NaN,NaN,NaN,194407762,39988034,NaN,18624270,NaN,NaN,0
7,NaN,NaN,21691242,NaN,97362315,NaN,NaN,371053791,2886,兆豐金,...,NaN,NaN,NaN,236700045,4796378,NaN,42080,NaN,NaN,0
8,NaN,NaN,18578783,NaN,21320711,NaN,NaN,330588676,2887,台新金控,...,NaN,NaN,NaN,88298200,6233935,NaN,124414,NaN,NaN,49579737
9,NaN,NaN,28842563,NaN,32323698,NaN,NaN,404105553,2888,新光金,...,NaN,NaN,NaN,30381612,7752795,NaN,14130316,NaN,NaN,0
10,NaN,NaN,1888132,NaN,4089055,NaN,NaN,105585723,2889,國票金控,...,NaN,NaN,NaN,167530298,2044964,NaN,4142777,NaN,NaN,0
11,NaN,NaN,12502286,NaN,26381679,NaN,NaN,235399526,2890,永豐金控,...,NaN,NaN,NaN,44853779,12639695,NaN,56680,NaN,NaN,0
12,NaN,NaN,52200264,NaN,78028200,NaN,NaN,837426408,2891,中信金,...,NaN,456147,NaN,49200982,13837495,NaN,84193,NaN,NaN,0
13,NaN,NaN,27204302,NaN,44093857,NaN,NaN,152594464,2892,第一金控,...,NaN,0,NaN,11151449,320039,NaN,232847,NaN,NaN,0
14,NaN,NaN,38057014,NaN,22242217,NaN,NaN,188279882,5880,合庫金,...,NaN,NaN,NaN,45337608,1447120,NaN,3936006,NaN,NaN,0
1,NaN,832342,NaN,NaN,1627907,NaN,10900619,NaN,2816,旺旺保險,...,NaN,NaN,NaN,NaN,NaN,NaN,24271,NaN,NaN,0
2,NaN,8240824,NaN,NaN,40959796,NaN,1171516264,NaN,2823,中壽,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,NaN,372596,NaN,NaN,4496911,NaN,8421062,NaN,2832,台產,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,NaN,1025841,NaN,NaN,5060109,NaN,20117669,NaN,2850,新產,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
5,NaN,210278,NaN,NaN,4100014,NaN,24250997,NaN,2851,中再保,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
6,NaN,620006,NaN,NaN,2555176,NaN,8508690,NaN,2852,第一保,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
7,NaN,8717799,NaN,NaN,13742695,NaN,871232071,NaN,2867,三商美邦,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,NaN,NaN,NaN,NaN,6818490,NaN,NaN,NaN,1409,新纖,...,NaN,NaN,NaN,NaN,NaN,NaN,8070379,9680424,52524098,0
2,NaN,NaN,NaN,NaN,5605325,NaN,NaN,NaN,1718,中纖,...,NaN,NaN,NaN,NaN,NaN,NaN,31449344,21775646,141257660,0
3,NaN,NaN,NaN,NaN,39858558,NaN,NaN,NaN,2207,和泰汽車,...,NaN,NaN,NaN,NaN,NaN,NaN,7794677,26279965,60656671,0
4,NaN,NaN,NaN,NaN,7227049,NaN,NaN,NaN,2905,三商,...,NaN,NaN,NaN,NaN,NaN,NaN,19412030,940177091,865964349,0